.days-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.stripe-left {
  background: #F5F5F5;
  height: 900px;
  width: 14.285%;
  position: absolute;
  z-index: -1;
  height: 892px;
  left: -1px;
}
.stripe-right {
  background: #F5F5F5;
  height: 792px;
  width: 14.285%;
  position: absolute;
  right: 7px;
  z-index: -1;
}